<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'ホール名', "#", class: "category-list" %></li>
      <li><%= link_to '機種名', "#", class: "brand-list" %></li>
    </ul>
  </div>
</header>