<%= render "header" %>

<body>
<div class="wrapper">

<div class="side-bar">
<div class="side-contents">
  <div class="side-content">
  </div>
</div>
</div>

<div class="main-budget">
<div class="budget">
  <div class="upper-date">
    <div class="main-date"></div>
    <div class="price-date"></div>
  </div>
  <div class="center-date">
    <div class="num-date"></div>
    <div class="toshi-date"></div>
  </div>
  <div class="lower-date">
    <div class="win-date"></div>
    <div class="plus-date"></div>
  </div>
</div>
</div>

</body>