<%= render "header" %>

<body>
<div class="wrapper">

<div class="side-bar">
<div class="side-contents">
  <div class="side-content">全収支</div>
</div>
</div>

<div class="main-budget">
<div class="budget">
  <div class="main-data">
  <p>全収支</p>
  <p>収支</p>
  </div>
  <div class="data">
    <div class="toshi-data">
      <div class="win-data">
      <ul>
        <li>回数</li>
        <li>勝率</li>
      </ul>
      </div>
      <div class="price-data">
      <ul>
        <li>111500000000000</li>
        <li>15000</li>
      </ul>
      </div>
    </div>
    <div class="toshi-data">
      <div class="win-data">
      <ul>
        <li>投資</li>
        <li>回収</li>
      </ul>
      </div>
      <div class="price-data">
      <ul>
        <li>10000000000</li>
        <li>20000</li>
      </ul>
      </div>
    </div>
  </div>
</div>
</div>

</body>