<%= render "header" %>

<body>
<div class="wrapper">

<div class="side-bar">
<div class="side-contents">
<div class="side-content">
</div>
</div>
</div>

<div class="main-budget">
</div>
</div>

</body>