<%= render "header" %>

<body>

<% total = 0 %>
<% price = 0 %>
<% recovery = 0 %>
<% win = 0 %>
<% lose = 0 %>
<% draw = 0 %>
<% probability = 0 %>
<% num = Budget.count.to_i %>

<% @budgets.each do |budget| %>
<% total += budget.total.to_i %>
<% price += budget.price.to_i %>
<% recovery += budget.recovery.to_i %>

<% if budget.total.to_i > 0 %>
<% win += 1 %>
<% elsif budget.total.to_i < 0 %>
<% lose += 1 %>
<% elsif budget.total.to_i == 0 %>
<% draw += 1 %>
<%end%>

<%end%>
<% probability = (win/num.to_f*100).floor(2)  %>

<div class="wrapper">

<div class="side-bar">

  <div class="side-contents">
  </div>
</div>


<div class="cp_tab">
	<input type="radio" name="cp_tab" id="tab2_1" aria-controls="first_tab02" checked>
	<label for="tab2_1">全収支</label>
	<input type="radio" name="cp_tab" id="tab2_2" aria-controls="second_tab02">
	<label for="tab2_2">年別</label>
	<input type="radio" name="cp_tab" id="tab2_3" aria-controls="third_tab02">
	<label for="tab2_3">月別</label>
	<input type="radio" name="cp_tab" id="tab2_4" aria-controls="force_tab02">
	<label for="tab2_4">ホール別</label>
  <input type="radio" name="cp_tab" id="tab2_5" aria-controls="fifth_tab02">
	<label for="tab2_5">機種別</label>
  <input type="radio" name="cp_tab" id="tab2_6" aria-controls="sixth_tab02">
	<label for="tab2_6">パチンコ</label>
  <input type="radio" name="cp_tab" id="tab2_7" aria-controls="seventh_tab02">
	<label for="tab2_7">スロット</label>
  <input type="radio" name="cp_tab" id="tab2_8" aria-controls="eighth_tab02">
	<label for="tab2_8">その他</label>
	<div class="cp_tabpanels">
		<div class="cp_tabpanel">
		<h2>First Tab</h2>
		<p>First Tab text</p>
		</div>
		<div class="cp_tabpanel">
		<h2>Second Tab</h2>
		<p>Second Tab text</p>
		</div>
		<div class="cp_tabpanel">
		<h2>Third Tab</h2>
		<p>Third Tab text</p>
		</div>
		<div class="cp_tabpanel">
		<h2>Force Tab</h2>
		<p>Force Tab text</p>
		</div>
    <div class="cp_tabpanel">
		<h2>fifth Tab</h2>
		<p>Force Tab text</p>
    </div>
    <div class="cp_tabpanel">
		<h2>six Tab</h2>
		<p>Force Tab text</p>
    </div>
    <div class="cp_tabpanel">
		<h2>seven Tab</h2>
		<p>Force Tab text</p>
    </div>
    <div class="cp_tabpanel">
		<h2>eight Tab</h2>
		<p>Force Tab text</p>
    </div>
	</div>
</div>


</div>

</body>