<%= render "header" %>

<%= month_calendar budgets: @budgets do |date, budgets| %>
<%= link_to date.day, new_budget_path %>

<% budgets.each do |budget| %>
<div><%= budget.total %></div>
<% end %>
<% end %>