.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 200px;
  height: 100vh;
}

.main-budget {
  background-color: #FFFFFF;
  width: calc(100vw - 200px);
  overflow: scroll;
}
