.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 200px;
  height: 100vh;
}

.side-contents {
  display: flex;
  flex-direction: column;
}

input[name="side-content"] {
  display: none;
}

.side-content{
  margin: 10px;
  font-size: 20px;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.side-content:hover {
  background-color: #96dbf7;
}

.side-content:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.tab-switch:checked+.side-content+.main-budget {
  display: block;
}

.main-budget {
  background-color: #FFFFFF;
  width: calc(100vw - 200px);
  overflow: scroll;
  display: none;
}

.budget {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #2c2b2b;
  width: 50%;
  height: 150px;

  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  margin: 10px 0 0 10px;
}

.main-data {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  font-size: 20px;
}

.data {
  display: flex;
}

.toshi-data {
  display: flex;
}

.win-date {
  display: flex;
  justify-content: start;
}

.price-data {
  margin-right: 10px;
  display: flex;
  justify-content: end;
}
