.pachinko,.slot {
  display: none;
}

input[type="radio"]:checked#pachinko~div.pachinko,
input[type="radio"]:checked#slot~div.slot {
  display: block;
}

.row {
  display: flex;
}

.col-xs-3 {
  margin: 20px 30px;
}

.col-xs-9 {
  margin: 20px 30px;
}

.head-1 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.line {
  padding: 10px;
}

.edit-btn {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 7pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #26e726;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #26e726;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 10px;
}

.delete-btn {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 7pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #d60606;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #d60606;
  text-decoration: none;
  margin-right: 10px;
}

.site-btn {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 7pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #000066;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #000066;
  text-decoration: none;
}

input[type="radio"]:checked + label {
  background: #31A9EE;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.label:hover {
  background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
}

.label {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ボックス外側の余白を指定する */
  width: 110px; /* ボックスの横幅を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #b20000; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
  }